* {
    margin: 0%;
    padding: 0%;
}


.section1 h1 {
    text-align: center;
    padding: 30px;
    padding-bottom: 30px;
    border-bottom: solid black 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.container div {
    flex-basis: 25%;
    width: 200px;

}

.container img {
    padding: 10px;
    width: 280px;
    height: 200px;

}

.contact {
    text-align: center;
    font-style: oblique;
}